<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="net.measurementlab.ndt" android:versionCode="2"
  android:versionName="1.0b2">
  <application android:icon="@drawable/ndt" android:label="@string/app_name" android:theme="@style/NdtTheme">
    <activity android:name=".InitialActivity" android:label="@string/app_name" android:theme="@style/NdtTheme.Blue">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
	<activity android:name=".TestsActivity" android:label="@string/app_name" android:theme="@style/NdtTheme" />
	<activity android:name=".ResultsActivity" android:label="@string/app_name" android:theme="@style/NdtTheme.Blue" />
	<activity android:name=".SelectServerActivity" android:label="@string/app_name" />
    <service android:name=".NdtService" />
  </application>
  <uses-sdk android:minSdkVersion="8" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest> 
