<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>YOURSITE NDT server</title>
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body>
<h3> YOURSITE Web100 based Network Diagnostic Tool (NDT) </h3>
<b>Located at YOURLOCATION; 
YOURSPEED network connection</b>
<br><font size=-1>
<iframe width="100%" height="350" frameborder="0" src="test-header.html"></iframe>
<br>
 This is flash version of client. If you want to use java applet instead, please visit <a href="tcpbw100-java.html">this site</a>
<table align=center><tr><td>
<embed type="application/x-shockwave-flash" src="FlashClt.swf" width="600" height="400" id="flash_client" name="flash_client" />
</td></tr></table>

<br>
<a href="mailto:YOUREMAIL@YOURDOMAIN?subject=YOURSUBJECT
?&amp;body=Your name:  %0aEmail:  %0aHostname:  %0a%0aPaste results from%20
'Results' page here:%0a%0a%0aPaste results from 'Details' page%20
here:%0a%0a%0aComments:%0a">Report Problems</a> <font size=-1> &nbsp; &nbsp; &nbsp; &nbsp; Use "ctrl-C"
to copy data onto the clipboard and then paste it into the email message. </font>

<hr size=3  width="99%" noshade>
<br>
<iframe width="100%" height="920" frameborder="0" src="test-description.html"></iframe>
<hr noshade width="90%" size=-4>
Comments to <a href="mailto:rcarlson501@gmail.com"> Rich Carlson </a> email:rcarlson501@gmail.com
<br><i>Created: April 4, 2002 by Rich Carlson
<br>Last Updated: March 16, 2010 by Jason Zurawski</i>

<script language="javascript" type="text/javascript">

  function setUserAgent() {
    document.NDTApplet.setUserAgent(navigator.userAgent);
  }

</script>

</body>
</html>
